# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:

- Use pandas to import data from a CSV and and an Excel spreadsheet  

##  Loading Files with Summary or Meta Data

Load either of the files `'Zipcode_Demos.csv'` or `'Zipcode_Demos.xlsx'`. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled `'Data'`.

In [1]:
# Import pandas using the standard alias
import pandas as pd

In [78]:
# Import the file and print the first 5 rows
df = pd.read_csv('Data/Zipcode_Demos.csv', header=47, usecols = [1,2,3,4,5,6,7,8,9,11,12,13,14,15,16,17,18,19,20])
df_avg = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=[1], nrows = 45, usecols=[1, 2])

In [79]:
# Print the last 5 rows of df
df_avg

                     Average Statistics  Unnamed: 2
0                     JURISDICTION NAME   10005.800
1                    COUNT PARTICIPANTS       9.400
2                          COUNT FEMALE       4.800
3                        PERCENT FEMALE       0.404
4                            COUNT MALE       4.600
5                          PERCENT MALE       0.396
6                  COUNT GENDER UNKNOWN       0.000
7                PERCENT GENDER UNKNOWN       0.000
8                    COUNT GENDER TOTAL       9.400
9                  PERCENT GENDER TOTAL      80.000
10               COUNT PACIFIC ISLANDER       0.000
11             PERCENT PACIFIC ISLANDER       0.000
12                COUNT HISPANIC LATINO       2.000
13              PERCENT HISPANIC LATINO       0.105
14                COUNT AMERICAN INDIAN       0.000
15              PERCENT AMERICAN INDIAN       0.000
16             COUNT ASIAN NON HISPANIC       3.600
17           PERCENT ASIAN NON HISPANIC       0.437
18             COUNT WHITE NON HISPANIC       0.800
19           PERCENT WHITE NON HISPANIC       0.036
20             COUNT BLACK NON HISPANIC       2.600
21           PERCENT BLACK NON HISPANIC       0.181
22                COUNT OTHER ETHNICITY       0.400
23              PERCENT OTHER ETHNICITY       0.040
24              COUNT ETHNICITY UNKNOWN       0.000
25            PERCENT ETHNICITY UNKNOWN       0.000
26                COUNT ETHNICITY TOTAL       9.400
27              PERCENT ETHNICITY TOTAL      79.900
28       COUNT PERMANENT RESIDENT ALIEN       0.500
29     PERCENT PERMANENT RESIDENT ALIEN       0.061
30                     COUNT US CITIZEN       8.900
31                   PERCENT US CITIZEN       0.739
32           COUNT OTHER CITIZEN STATUS       0.000
33         PERCENT OTHER CITIZEN STATUS       0.000
34         COUNT CITIZEN STATUS UNKNOWN       0.000
35       PERCENT CITIZEN STATUS UNKNOWN       0.000
36           COUNT CITIZEN STATUS TOTAL       9.400
37         PERCENT CITIZEN STATUS TOTAL      80.000
38     COUNT RECEIVES PUBLIC ASSISTANCE       2.300
39   PERCENT RECEIVES PUBLIC ASSISTANCE       0.151
40    COUNT NRECEIVES PUBLIC ASSISTANCE       7.100
41  PERCENT NRECEIVES PUBLIC ASSISTANCE       0.649
42      COUNT PUBLIC ASSISTANCE UNKNOWN       0.000
43    PERCENT PUBLIC ASSISTANCE UNKNOWN       0.000
44        COUNT PUBLIC ASSISTANCE TOTAL       9.400

In [ ]:
# What is going on with this data set? Anything unusual?
# There's a 46x3 "Average Statistics" array at the very beginning (headers in the second column) 
# that's an average of the actual data, which starts (with a row of headers) at line 47.

In [67]:
# Clean up the dataset
df

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,COUNT PACIFIC ISLANDER,PERCENT PACIFIC ISLANDER,COUNT HISPANIC LATINO,PERCENT HISPANIC LATINO,COUNT AMERICAN INDIAN,PERCENT AMERICAN INDIAN,COUNT ASIAN NON HISPANIC,PERCENT ASIAN NON HISPANIC,COUNT WHITE NON HISPANIC,PERCENT WHITE NON HISPANIC
0,10001,44,22,0.50,22,0.50,0,0,44,0,0,16,0.36,0,0,3,0.07,1,0.02
1,10002,35,19,0.54,16,0.46,0,0,35,0,0,1,0.03,0,0,28,0.80,6,0.17
2,10003,1,1,1.00,0,0.00,0,0,1,0,0,0,0.00,0,0,1,1.00,0,0.00
3,10004,0,0,0.00,0,0.00,0,0,0,0,0,0,0.00,0,0,0,0.00,0,0.00
4,10005,2,2,1.00,0,0.00,0,0,2,0,0,0,0.00,0,0,1,0.50,0,0.00
5,10006,6,2,0.33,4,0.67,0,0,6,0,0,2,0.33,0,0,0,0.00,1,0.17
6,10007,1,0,0.00,1,1.00,0,0,1,0,0,0,0.00,0,0,1,1.00,0,0.00
7,10009,2,0,0.00,2,1.00,0,0,2,0,0,0,0.00,0,0,2,1.00,0,0.00
8,10010,0,0,0.00,0,0.00,0,0,0,0,0,0,0.00,0,0,0,0.00,0,0.00
9,10011,3,2,0.67,1,0.33,0,0,3,0,0,1,0.33,0,0,0,0.00,0,0.00

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encounter some really ill-formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and the commas within those fields themselves. For example, we could have a table like this:  

`ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765`

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
`"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"`

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled `'Yelp_Reviews_corrupt.csv'`. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [84]:
# Hint: Here's a useful programming pattern to use
for i in range(1500, 2000):
    try:
        corrupt_df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows = i)
    except Exception as e:
        print('First error at line {}.'.format(i))
        break
df2 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows = i-1)
print(len(df2))
df2.tail()

First error at line 1962.
1961

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1956,4993,u8C8pRvaHXg3PgDrsUHJHQ,0,2016-08-08,0.0,gXmHGBSBBz2-uHdvGf4lZQ,2.0,just went to a retirement party upstairs and t...,1.0,tFa-r1pxZh04FjxNSEQgcQ
1957,4998,-9nai28tnoylwViuJVrYEQ,0,2015-03-22,0.0,u-zqCN_IXfypJIUzIVUuzw,5.0,Great restaurant and great atmosphere.,NaN,NaN
1958,I had an awesome great time with friends.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1959,I loved the tapas and the excellent paella.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960,I can't wait to come back soon.,0,otDVyX37h61WEbqPLEjCmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Summary

Congratulations, you now practiced your Pandas-importing skills!